# Data Types and Structures Questions

1. What are data structures, and why are they important?
 -  A data structure is a way of organizing, storing, and managing data in a computer so that it can be used efficiently. It defines the relationship between data elements and the operations that can be performed on them.


2. Explain the difference between mutable and immutable data types with examples?
 - Mutable data types, such as lists, dictionaries, and sets, allow modifications after creation by altering the existing object in memory, whereas immutable data types, including integers, strings, and tuples, do not permit direct changes, and any modification results in the creation of a new object with a different memory address.


3. What are the main differences between lists and tuples in Python?
 - Lists and tuples are both used to store collections of items in Python, but they have key differences.
   - i.> Lists are mutable, meaning their elements can be changed, added, or removed, while **tuples** are **immutable**, meaning they cannot be modified after creation.
  - ii.> Lists use more memory and have slower access times compared to tuples, which are more memory-efficient and faster due to their fixed size. Lists are defined using square brackets `[]`, whereas tuples are defined using parentheses `()`.


4. Describe how dictionaries store data?
 - Dictionaries in Python store data in **key-value pairs**, like a real-world dictionary where words (keys) have meanings (values). They use a special system called **hashing** to quickly find values based on their keys. Keys must be **unchangeable** (like strings or numbers), but values can be anything. Dictionaries are created using **curly braces `{}`** and are great for fast lookups, adding, and removing data.


5. Why might you use a set instead of a list in Python?
 - A set is used instead of a list when you need to store unique elements, as sets automatically remove duplicates and use hashing for quick searches.


6. What is a string in Python, and how is it different from a list?
 - A **string** in Python is an immutable sequence of characters enclosed in quotes (`""` or `''`), whereas a **list** is a **mutable sequence** that can hold different data types. Unlike lists, strings cannot be modified directly, and any changes create a new string.


7. How do tuples ensure data integrity in Python?
 - Tuples ensure data integrity in Python by being immutable, meaning their elements cannot be changed, added, or removed after creation.


8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key-value pairs using a hashing function to map keys to memory location for fast access. In Python, dictionaries are implemented using hash tables, allowing for efficient lookups, insertions, and deletions with an average time complexity of O(1).


9. Can lists contain different data types in Python?
  - Yes, lists in Python can contain different data types, including integers, strings, floats, other lists, and even custom objects, as they are **heterogeneous** and dynamically sized.


10. Explain why strings are immutable in Python?
  - Strings are immutable in Python because they are stored as fixed sequences of characters in memory, and modifying them would require creating a new string.


11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries are better than lists when you need to find data quickly, as they use keys instead of searching through items one by one. They help in organizing data, storing unique key-value pairs, and making lookups faster.


12. Describe a scenario where using a tuple would be preferable over a list?
  - A tuple is better than a list when you need to store fixed data that shouldn't change, such as **coordinates (x, y)**, database records, or months of the year, ensuring data remains safe and unchanged throughout the program.


13. How do sets handle duplicate values in Python?
  - Sets in Python automatically remove duplicate values, ensuring that each element is unique. When adding items to a set, Python checks for duplicates and only keeps one copy, making sets useful for eliminating repeated data.


14. How does the “in” keyword work differently for lists and dictionaries?
 - In a list, the **"in"** keyword checks each item one by one to see if it exists, which can be slow. In a dictionary, it only checks the keys using a fast lookup system, making it much quicker.


15. Can you modify the elements of a tuple? Explain why or why not?
 - No, you **cannot** modify the elements of a tuple because tuples are immutable in Python. Once created, their values **cannot be changed, added, or removed**, ensuring data integrity and making them safer for storing fixed information.


16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary that contains another dictionary as a value. It is useful for organizing structured data, such as storing student records or product details.

 - Use Case:
students = {
    "Ryan": {"age": 21, "grade": "A"},
    "Ajay": {"age": 22, "grade": "B"}
  }
print(students["Ryan"]["grade"]) # Output: A
This structure helps manage complex data relationships efficiently.


17. Describe the time complexity of accessing elements in a dictionary?
 - Looking up an item in a dictionary is usually very fast (O(1)) because Python uses a hash table to find keys quickly. In rare cases, if multiple keys get stored in the same spot (hash collision), it can take longer (O(n)), but this is uncommon.


18. In what situations are lists preferred over dictionaries?
 - Lists are preferred over dictionaries when **order matters**, such as handling sequences of data, iterating in a specific order, or storing multiple values without unique keys. They are also simpler and use less memory when key-value pairs are not needed.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Before Python 3.7, dictionaries didn’t keep items in order because they used a special storage system. Now, they remember the order in which items were added, but they still find values using keys, not positions, which makes lookups quick.


20. Explain the difference between a list and a dictionary in terms of data retrieval?
  - A list retrieves data using an index, meaning you need to know the exact position of an item to access it quickly. If you search for a value without knowing its index, Python checks each item one by one, which can be slow for large lists.  
  - A dictionary retrieves data using keys, allowing for fast lookups. Instead of searching through all values, Python uses a hash table to find the key instantly, making dictionaries much faster and more efficient for retrieving specific pieces of data.


  ---- **END OF Data Types and Structures Questions**---

# Practical Questions

In [ ]:
1. #Write a code to create a string with your name and print it?

name = "Ryan"
print(name)

Ryan

In [ ]:
2. #Write a code to find the length of the string "Hello World"?

text = "Hello World"
length = len(text)
print(length)

11

In [ ]:
3. #Write a code to slice the first 3 characters from the string "Python Programming"?

str = "Python Programming"
sliced_string = str[:3]  # Gets the first 3 characters
print(sliced_string)

Pyt

In [ ]:
4. #Write a code to convert the string "hello" to uppercase?

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [ ]:
5. # Write a code to replace the word "apple" with "orange" in the string "I like apple"?

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
6. #Write a code to create a list with numbers 1 to 5 and print it?

numb = [1, 2, 3, 4, 5]
print(numb)

[1, 2, 3, 4, 5]

In [ ]:
7.#Write a code to append the number 10 to the list [1, 2, 3, 4]?

numb = [1, 2, 3, 4]
numb.append(10)
print(numb)

[1, 2, 3, 4, 10]

In [ ]:
8. #Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

numb = [1, 2, 3, 4, 5]
numb.remove(3)
print(numb)

[1, 2, 4, 5]

In [ ]:
9. #Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [ ]:
10. #Write a code to reverse the list [10, 20, 30, 40, 50]?

numb = [10, 20, 30, 40, 50]
numb.reverse()
print(numb)

[50, 40, 30, 20, 10]

In [ ]:
11. #Write a code to create a tuple with the elements 100, 200, 300 and print it?

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
12. # Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [ ]:
13.# Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [ ]:
14. #Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [ ]:
15. #Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

fruits = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

In [ ]:
16. #Write a code to create a set with the elements 'a', 'b', 'c' and print it?

set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

In [ ]:
17. #Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)   # Output: set()

set()

In [ ]:
18.  #Write a code to remove the element 4 from the set {1, 2, 3, 4}?

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
19. # Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
20. # Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {2, 3}

{2, 3}

In [ ]:
21. #Write a code to create a dictionary with the keys "name", "age", and "city", and print it?`

person = {"name": "Ryan", "age": 21, "city": "Mumbai"}
print(person)

{'name': 'Ryan', 'age': 21, 'city': 'Mumbai'}

In [ ]:
22. # Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
23. # Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [ ]:
24. #Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
25. #Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

person = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in person
print(city_exists)

True

In [ ]:
26. #Write a code to create a list, a tuple, and a dictionary, and print them all?

my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {"name": "Ryan", "age": 21, "city": "Mumbai"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'name': 'Ryan', 'age': 21, 'city': 'Mumbai'}

In [ ]:
27. #Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?

import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort() # Sort the list in ascending order
print(random_numbers)

[3, 15, 75, 82, 99]

In [ ]:
28. #Write a code to create a list with strings and print the element at the third index?

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])  # Output: date

date

In [ ]:
29. #Write a code to combine two dictionaries into one and print the result?

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
30.  #Write a code to convert a list of strings into a set?

my_list = ["apple", "banana", "cherry", "apple"]
my_set1 = set(my_list)
print(my_set1)

{'cherry', 'banana', 'apple'}

--- **END OF PRACTICAL QUESTIONS** ---